p {
line-height: 0;
letter-spacing: 0px;	
}

body {
  margin: 30px 30px;
  background-color: #a695a2;
  	

}

h1 {
  background-color: #32a2a8;
  width: 300px;
  margin: 0px 600px;	
  padding: 4px 0 ;	
  font-size: 30px;
  text-align: center; 
  font-family: 'Indie Flower', cursive;
  /* google.fonts a potem download family i z boku masz linijki do skopiowania*/
  text-shadow: 7px 5px 4px yellow; /*prawo, dol, rozmazanie, kolor*/
  border: 5px dashed blue;
}

ul {
  background: red;
  padding: 10px;
  border: 1px solid black;
}

ol {
  background: white;
  padding: 10px;
  border: 1px solid black;
}


li {
  margin-left: 20px;
}

#jap {
 color: orange;
}

html {
background-color: #32a2a8;
font-size: 20px;
font-family: 'Barlow Condensed', sans-serif;
}

img[src] {
display: block;
width: 200px;
height: 150px;
margin: 0 130px;
}